/.quarto/
.Rproj.user

.Rhistory
.RData
.Ruserdata

# ignore local renv library (loaded with renv::restore)
renv/library/

# ignore all .DS_Store
**/.DS_Store

# Other potential temporary files
*.log
*.tmp